{% extends 'layout.html.twig' %}

{% block page_title %}
    {{ title |title}}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock stylesheets %}



{% block page %}
    <!-- Form -->
<section class="bg-light pt-0">
    <div class="container">
        <h3>{{ title |title }}</h3>
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey | trans(error.messageData, 'secure') }}
            </div>
        {% endif %}
        {#{% for message in app.flashes('notice') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}#}
        {{ form_start(form, {attr:{novalidate: 'novalidate' }}) }}

        {{ form_widget(form) }}


        <div class="d-flex justify-content-between align-items-center">
            <button type="submit" class="btn btn-success"><i class="far fa-thumbs-up"></i> Soumettre</button>&nbsp;
            <a href="{{ path('secure.forgottenPassword') }}">{#<i class="far fa-sad-tear"></i>#}<i class="fas fa-sad-tear" style="color: #ff9f1a"></i> J'ai oublié mon mot de passe</a>
        </div>

        {{ form_end(form) }}
    </div>
</section>
{% endblock %}


