{% extends 'layout.html.twig' %}

{% block page_title %}
    {{ title |title}}
{% endblock %}

{% block page %}
    <!-- Form -->
<section class="bg-light pt-0">
    <div class="container">
        <h3>{{ title |title }}</h3>
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey | trans(error.messageData, 'secure') }}
            </div>
        {% endif %}
        {#{% for message in app.flashes('notice') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}#}
        {{ form(form, {attr:{novalidate: 'novalidate' }}) }}
        <button type="submit" class="btn btn-success"><i class="far fa-thumbs-up"></i> Soumettre</button>
    </div>
</section>
{% endblock %}


