{% extends 'layout.html.twig' %}

{% block page_title %}
    {{ title |title}}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock stylesheets %}



{% block page %}
    <!-- Form -->
<section class="bg-light pt-0">
    <div class="container">
        <h3>{{ title |title }}</h3>
        {% include 'components/_message_flash.twig' %}
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey | trans(error.messageData, 'secure') }}
            </div>
        {% endif %}

        {{ form_start(form, {attr:{novalidate: 'novalidate' }}) }}

        {{ form_widget(form) }}

            <button type="submit" class="btn btn-success"><i class="far fa-thumbs-up"></i> Soumettre</button>&nbsp;
        <a href="{{ path('secure.forgottenPassword') }}">{#<i class="far fa-sad-tear fa-3x "></i>#}<i class="fas fa-sad-tear" style="color: #ffd509"></i> J'ai oublié mon mot de passe</a>

        {{ form_end(form) }}
    </div>
</section>
{% endblock %}


