{% extends 'shini_gami/layout.html.twig' %}

{% block imgBk %}
    {#url('{{ asset('theme/img/home-bg.jpg') }}')#}
{% endblock %}

{% block page_title %}
    home
{% endblock page_title %}



    {% block content %}
        <div class="container">
            {% for offer in onLines %}

                <div class="post-preview text-center">
                    <a href="{{ path('shiniGami.offer.show', {id: offer.id,slug:offer.slug}) }}">
                        <h2 class="post-title text-center">
                            {{ offer.name }}
                        </h2></a>
                    <a href="{{ path('shiniGami.offer.show', {'id': offer.id,slug:offer.slug}) }}">
                    <img src="../{{ offer.image }}" class="img-thumbnail img-rounded" alt=""></a>
                    <h3 class="post-subtitle text-primary text-center" style="font-weight: bold;font-size: 2rem;">
                        {{ offer.getFormattedPrice }} €
                    </h3>

                    <p class="post-meta">Offre valable juqu'au {{ offer.dateEnd |date('d-m-Y') }}

                </div>
                <hr>




            {% endfor %}

        </div>

    {% endblock content %}


