{% extends 'shini_gami/layout.html.twig' %}

{% block about1 %}
  Nos offres du moment
{% endblock about1 %}

{% block about2 %}
    une selection d'offres pour vous
{% endblock about2 %}

{% block imgBk %}
    url('{{ asset('theme/img/post-sample-image.jpg') }}')
{% endblock imgBk %}

{% block page_title %}les offres{% endblock page_title %}


{% block content %}
    {#<article>
        {% for shini_Offer in shini_offers %}


        <h2 class="section-heading">{{ shini_Offer.getName }} Offre valable jusqu'au {{ shini_Offer.dateEnd |date('d-m-Y') }}</h2>

                {{ shini_Offer.description |raw }}

                    <a href="#">
                        <img class="img-fluid" src="img/post-sample-image.jpg" alt="">
                    </a>
            {{ shini_Offer.getformattedPrice }} €

        {% endfor %}




    </article>#}

    <div class="container">
        <div class="row flex">
            {% for shinni_offer in shini_offers %}
                <div class="col-4">
                    <div class="card mb-4">
                        <img class="card-img-top img-thumbnail" src="../{{ shinni_offer.image }}" width="200px" alt="">
                        <div class="card-body">

                            <h5 class="card-title">
                                <a href="{{ path('shiniGami.offer.show', {'id': shinni_offer.id}) }}">{{ shinni_offer.name }}</a>
                            </h5>
                            <p class="card-text">Offre valable jusqu'au
                                <span class="text-danger" style="font-weight: bold;font-size: 1rem;"> {{ shinni_offer.dateEnd |date('d-m-Y') }}</span></p>
                            <div class="text-primary"
                                 style="font-weight: bold;font-size: 2rem;">{{ shinni_offer.formattedPrice }} €
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock content %}



