{% extends 'player/layout.html.twig' %}

{% block title %}New ShiniPlayer{% endblock %}

{% block body %}
    <h1>Create new ShiniPlayer</h1>

    <div class="container">
        {{ form_start(form, {attr:{novalidate: 'novalidate' }}) }}

        <div class="row">

            <div class="col-md-4">{{ form_row(form.name) }}</div>
            <div class="col-md-4">{{ form_row(form.lastname) }}</div>
            <div class="col-md-4">{{ form_row(form.nickName) }}</div>

        </div>

        <div class="row">

            <div class="col-md-4">{{ form_row(form.birthday) }}</div>
            <div class="col-md-4">{{ form_row(form.email) }}</div>
            <div class="col-md-4">{{ form_row(form.phone) }}</div>
        </div>

        <div class="row">

            <div class="col-md-4">{{ form_row(form.address) }}</div>
            <div class="col-md-4">{{ form_row(form.postalCode) }}</div>
            <div class="col-md-4">{{ form_row(form.city) }}</div>
        </div>

        <div class="row">
            <div class="col-md-6">{{ form_row(form.password.first) }}</div>
            <div class="col-md-6">{{ form_row(form.password.second) }}</div>

        </div>


        {{ form_widget(form) }}

        {{ form_end(form) }}
        <a href="{{ path('shini.player.index') }}"><button class="btn btn-info">{{ button_label|default('Retour à la liste') }}</button></a>

    </div>
{% endblock %}
