{% extends 'base.html.twig' %}

{% block title %}Edit ShiniOffer{% endblock %}

{% block body %}
    <h1>Edit ShiniOffer</h1>
    <div class="container">
        {{ form_start(form , {attr:{novlidate: 'novalidate'}}) }}

        <div class="row">
            <div class="col-md-4">{{ form_row(form.name) }}</div>
            <div class="col-md-4">{{ form_row(form.price) }}</div>
            <div class="col-md-4">{{ form_row(form.dateEnd) }}</div>

        </div>

        {#<div class="row">
            <div class="offset-3 col-md-6">{{ form_row(form.staffAdviser) }}</div>
        </div>#}

        <div class="row">

            <div class="offset-2 col-md-8">{{ form_row(form.description) }}</div>
        </div>

        <div class="row">

            <div class="offset-2 col-md-8">{{ form_row(form.image) }}</div>

        </div>


        <div class="row">
            <div class="offset-3 col-md-4">{{ form_row(form.shown) }}</div>
            <div class="col-md-4 ">{{ form_row(form.onfirstpage) }}</div>
        </div>

        <div id="buttonCenter" class="row">
            <div class="offset-5 col-md-6">{{ form_row(form.submit) }}</div>


        </div>


        {{ form_widget(form) }}

        {{ form_end(form) }}</div>

    <div id="buttonCenter"> {{ include('offer/_delete_form.html.twig') }}</div>



{% endblock %}
