<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('shini_player_index') }}">
            <button class="btn btn-outline-info"><i class="fas fa-eye">&nbsp;</i> Voir les ShiniPlayers</button></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('shini.staff.player_new') }}"><button class="btn btn-outline-primary"><i class="fas fa-plus-square"></i> creer un nouveau shiniplayer</button> </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('searchByNicknameInStaffWay') }}"><button class="btn btn-outline-info"><i class="fas fa-search"></i> Retrouver un client par pseudo</button></a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="{{ path('shiniStaff.create.new.center') }}">
            <button class="btn btn-outline-info"><i class="fas fa-plus-square"></i> Créer un nouveau centre</button></a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="{{ path('shiniStaff.new.offer') }}">
            <button class="btn btn-outline-warning"><i class="fas fa-plus-square"></i> Créer une nouvelle offre</button></a>
    </li>

    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link disabled" href="{{ path('create.new.staff') }}">
                <button class="btn btn-outline-success"><i class="fas fa-plus-square"></i> Créer un nouveau membre du Satff</button></a>
        </li>
    {% endif %}

</ul>



