{% extends 'shini_staff/layout.html.twig' %}

{% block title %}Edit ShiniStaff{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock stylesheets %}

{% block body %}
    <h1>Edit ShiniStaff</h1>

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    <div class="container">

        {{ form_start(form, {attr:{novalidate: 'novalidate' }}) }}

        <div class="row">

            <div class="col-md-4">{{ form_row(form.name) }}</div>
            <div class="col-md-4">{{ form_row(form.lastname) }}</div>
            <div class="col-md-4">{{ form_row(form.nickName) }}</div>

        </div>

        <div class="row">

            <div class="col-md-4">{{ form_row(form.birthday) }}</div>
            <div class="col-md-4">{{ form_row(form.email) }}</div>
            <div class="col-md-4">{{ form_row(form.phone) }}</div>
        </div>

        <div class="row">

            <div class="col-md-4">{{ form_row(form.address) }}</div>
            <div class="col-md-4">{{ form_row(form.postalCode) }}</div>
            <div class="col-md-4">{{ form_row(form.city) }}</div>
        </div>

        <div class="row">
            <div class="col-md-6">{{ form_row(form.password.first) }}</div>
            <div class="col-md-6">{{ form_row(form.password.second) }}</div>

        </div>

        <div class="row">
            <div class="offset-4 col-md-6">{{ form_row(form.center) }}</div>
            <div class="offset-4 col-md-6">{{ form_row(form.roles) }}</div>
        </div>


        {{ form_widget(form) }}

        {{ form_end(form) }}

            <div id="buttonCenter">
            <a href="{{ path('shini_staff_index') }}">
                <button class="btn btn-outline-info "><i class="fas fa-arrow-circle-left"></i> back to list</button></a>
                <a href="{{ path('searchCard',{'id': shini_staff.id}) }}">
                    <button class="btn btn-secondary">Générer une carte</button>
                </a>
            {{ include('shini_staff/_delete_form.html.twig') }}</div>
    </div>
{% endblock %}

{#{% block form_delete  %}

    {{ include('shini_staff/_delete_form.html.twig') }}</div>
{% endblock form_delete %}#}



