{% extends "base.html.twig" %}

{# in header #}
{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css/shinigami.css') }}">
{% endblock stylesheets %}

{# At the end of body #}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/util.js') }}"></script>
{% endblock %}

{# body elements #}
{% block navbar %}
       <nav class="navbar navbar-expand-lg navbar-light bg-light">

           {% if is_granted('ROLE_ADMIN')  or is_granted('ROLE_STAFF') %}
               <a class="navbar-brand" href="{{ path('shini.staff.connect') }}">ShiniStaffIndex</a>
           {% elseif is_granted('ROLE_PLAYER')  %}
               <a class="navbar-brand" href="{{ path('shini.player.connect') }}">ShiniPlayerIndex</a>
           {% else %}
               <a class="navbar-brand" href="{{ path('shini.index') }}">ShiniGamiLaser</a>
           {% endif %}


           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>

           <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                   <li class="nav-item {% if about is defined and about == "about"  %}active{% endif %}">


                       <a class="nav-link" href="{{path('shini.about')}}">A propos <span class="sr-only">(current)</span></a>
                   </li>
                   <li class="nav-item {% if offer is defined and offer == "offer"  %}active{% endif %}">
                       <a class="nav-link" href="{{ path('shini.offer.index') }}">Les offres du moment</a>
                   </li><li class="nav-item {% if contact is defined and contact == "contact"  %}active{% endif %}">
                       <a class="nav-link" href="{{ path('shini.contact') }}">Nous contacter</a>
                   </li>


                   {#<li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Dropdown
                       </a>
                       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                           <a class="dropdown-item" href="#">Action</a>
                           <a class="dropdown-item" href="#">Another action</a>
                           <div class="dropdown-divider"></div>
                           <a class="dropdown-item" href="#">Something else here</a>
                       </div>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                   </li>#}
               </ul>
               {#<form class="form-inline my-2 my-lg-0">
                   <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
               </form>#}
               <ul class="navbar-nav ml-auto">
                   <li class="nav-item float-right">
                       {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                           <a class="nav-link" href="{{ path('security.signout') }}">
                               Déconnexion
                           </a>
                       {% else %}
                           <a class="nav-link" href="{{ path('security.signinup') }}">
                               Connexion
                           </a>
                       {% endif %}
                   </li>
               </ul>

           </div>
       </nav>
   {% endblock %}

{% block messages %}
        {% for key,type in app.flashes %}
            {% for message in type %}
                <div class="alert alert-{{ key }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}
    {% endblock %}