{% extends 'staff/layout.html.twig' %}

{% block title %}ShiniPlayer{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock stylesheets %}


{% block body %}
    <h1>{{ user.name }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6"> {% include 'staff/_sideBar.html.twig' %}
            </div>

            <div class="col-md-6">
                <table class="table table-striped">
                    {% block tableShowContent %}

                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <th>NickName</th>
                        <td>{{ user.nickName }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ user.address }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ user.phone }}</td>
                    </tr>
                    <tr>
                        <th>Birthday</th>
                        <td>{{ user.birthday ? user.birthday|date('d-m-Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Center</th>
                        <td>todo</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                    </tr>

                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Postal_code</th>
                        <td>{{ user.postalCode }}</td>
                    </tr>
                    <tr>
                        <th>Lastname</th>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    </tbody>
                </table>

                <div id="buttonCenter">
                    <a href="{{ path('shini.staff.list') }}">
                        <button class="btn btn-outline-info"><i class="fas fa-arrow-circle-left"></i> back to list
                        </button>
                    </a>

                    <a href="{{ path('shini.staff.edit', {'id': user.id}) }}">
                        <button class="btn btn-outline-warning"><i class="fas fa-user-edit  text-center"></i> edit
                        </button>
                    </a>
                    {% endblock tableShowContent %}
                    {{ include('staff/_delete_form.html.twig') }}
                </div>

            </div>
        </div>

    </div>
{% endblock %}