{% extends 'shini_player/layout.html.twig' %}

{% block title %}ShiniPlayer index{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success"> {{ message }}</div>
    {% endfor %}
    <h1>ShiniPlayer index <a href="{{ path('searchByNickname') }}"><button class="btn btn-outline-info">Retrouver un client par pseudo</button></a></h1>
    {% block tableHeadContent %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>code postal</th>
                <th>Téléphone</th>
                <th>Anniversaire</th>

                {% block contentDiff %}
                    <th>N°carte</th>
                {% endblock contentDiff %}

                <th>Roles</th>




                <th>actions</th>
            </tr>
        </thead>
        <tbody>
{% endblock tableHeadContent %}






    {% for shini_player in shini_players %}
            <tr>
                <td>{{ shini_player.id }}</td>
                <td>{{ shini_player.name }}</td>
                <td>{{ shini_player.lastname }}</td>
                <td>{{ shini_player.nickName }}</td>
                <td>{{ shini_player.email }}</td>
                <td>{{ shini_player.address }}</td>
                <td>{{ shini_player.postalCode }}</td>
                <td>{{ shini_player.phone }}</td>
                <td>{{ shini_player.birthday ? shini_player.birthday|date('d-m-Y') : '' }}</td>



                <td>{{ shini_player.cardCode }}</td>
                <td>{{ shini_player.roles ? shini_player.roles|join(', ') : '' }}</td>





                <td>
                    <a href="{{ path('shini_player_show', {'id': shini_player.id}) }}">
                        <button class="btn btn-outline-info"><i class="fas fa-eye">&nbsp;</i>show</button></a>
                    <a href="{{ path('shini_player_edit', {'id': shini_player.id}) }}">
                        <button class="btn btn-outline-warning"><i class="fas fa-user-edit"></i> edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('shini.staff.player_new') }}">
        <button class="btn btn-outline-primary"><i class="fas fa-plus-square"></i> Create new</button></a>
{% endblock body %}
