{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <h2>Chercher un gars par son blaze</h2>
        {{ form_start(form) }}
        {#<form action="{{ path('found.Player.By.Nickname') }}" method="post" >#}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-success" type="submit" id="basic-addon1">rechercher</button>
                </div>
                {{ form_widget(form.nickName) }}
                {#<input type="text" name="foundPlayerByNickname" class="form-control" placeholder="User Pseudo" aria-label="UserPseudo"
                       aria-describedby="basic-addon1">#}


            </div>
    {{ form_end(form) }}
        {#</form>#}
        <h2>Chercher un gars par son code</h2>
        {{ form_start(formCode) }}
        {#<form action="{{ path('found.Player.By.Nickname') }}" method="post" >#}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-success" type="submit" id="basic-addon1">rechercher</button>
            </div>
            {{ form_widget(formCode.cardCode) }}
            {#<input type="text" name="foundPlayerByNickname" class="form-control" placeholder="User Pseudo" aria-label="UserPseudo"
                   aria-describedby="basic-addon1">#}


        </div>
        {{ form_end(formCode) }}


    </div>

{% endblock body %}

{% block title %}
    Search User
{% endblock title %}

