{% extends 'shini_player/layout.html.twig' %}

{% block title %}ShiniPlayer{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock stylesheets %}


{% block body %}
    <h1>ShiniPlayer</h1>
    <div class="container">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shini_player.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ shini_player.name }}</td>
            </tr>
            <tr>
                <th>NickName</th>
                <td>{{ shini_player.nickName }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ shini_player.address }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ shini_player.phone }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ shini_player.birthday ? shini_player.birthday|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CardCode</th>
                <td>{{ shini_player.cardCode }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ shini_player.roles ? shini_player.roles|join(', ') : '' }}</td>
            </tr>

            <tr>
                <th>Email</th>
                <td>{{ shini_player.email }}</td>
            </tr>
            <tr>
                <th>Postal_code</th>
                <td>{{ shini_player.postalCode }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ shini_player.lastname }}</td>
            </tr>
            </tbody>
        </table>

        <div id="buttonCenter">
            <a href="{{ path('shini_player_index') }}">
                <button class="btn btn-outline-info"><i class="fas fa-arrow-circle-left"></i> back to list</button>
            </a>

            <a href="{{ path('shini_player_edit', {'id': shini_player.id}) }}">
                <button class="btn btn-outline-warning"><i class="fas fa-user-edit  text-center"></i> edit</button>
            </a>

            {{ include('shini_player/_delete_form.html.twig') }}</div>

    </div>
{% endblock %}
